@import "normalize.css";

* {
    font-family: 'Roboto', sans-serif;
    color: #011F3A;
    box-sizing: border-box;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.125rem;
}

p {
    font-size: 1.066666666666667rem;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 5vw 1fr 10vw 1fr 1fr;
}

nav {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: 1fr;
        align-items: center;
} 

a {
    text-decoration: none;
}

.logo {
    grid-column: 1 / 2;
    margin-left: 1vw;
}

.item1 {
    grid-column: 3 / 4;
    margin-right: 40px;
}


.item2 {
    grid-column: 4 / 5;
}

.item3 {
    grid-column: 5 / 6;
}

.item4 {
    grid-column: 6 / 7;
}

.item5 {
    grid-column: 8 / 9;
}

.item5::after {
    content: url(../img/nav_icon2.svg);
    position: absolute;
    top: 25px;
    right: 68px;
}

@media screen and (max-width: 1400px) {
    .item1::before {
        display: none;
    }

    .item5::after {
        display: none;
    }
    
}

header {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 100%;
    align-items: center;
    background-color: #F2AE4D;
}

.header__text {
    grid-column: 2 / 4;
}

.btn1 > a {
    display: inline-block;
    background-color: #3D5675;
    padding: 12px;
    width: 300;
    height: 42px;
    border-radius: 44vw;
    text-transform: uppercase;
    text-align: center;
    
}

.header__img {
    grid-column: 7 / 8;
}

.white-font > a {
color: #FFFFFF;
}

.grey-font {
    color: #A1A1A1;
}

.benefits__item > p {
    color: #A1A1A1;
}

.benefits {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 100%;
    align-items: center;
}

.benefits__item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.benefits__item1 {
    grid-column: 1 / 3;
}

.benefits__item2 {
    grid-column: 4 / 6;
}

.benefits__item3 {
    grid-column: 7 / 8;
} 

.white-area {
    background-color: #FFFFFF;
}

.products {
    grid-row: 4 / 5;
    width: 100%;
}

.products__cards {
    grid-column: 2 / 8;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    justify-content: center;
    
    margin-left: 1vw;
    gap: 1vw;
}

.card {
    border: 1px solid #EDEDED;
    height: 100%;
    padding-left: 1vw;
    
}

.card2 > .main,
.card3 > .main {
    padding-top: 1vw;
}

.products__text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2vw;
    padding-bottom: 10vw;
    padding: 5vw;
}

.btn-2  {
    text-transform: uppercase;
    background-color: #3D5675;
    padding: 11px;
    width: 210px;
    height: 42px;
    border-radius: 44vw;
    text-align: center;
}

.price,
.main {
    color: #777777;
}

.price {
    padding-left: 1.8vw;
}

.box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.products__btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5vw;
}

.btn-3 {
    text-transform: uppercase;
    background-color: #EEEEEE;
    padding: 12px; 
    width: 130px;
    height: 42px;
    border-radius: 44vw;
    text-align: center;
}

.green-area {
    background-color: #72BDA3;
}

.cta {
    grid-row: 5 / 6;
}

.cta h2 {
    text-align: center;
    padding-top: 5vw;
    padding-bottom: 5vw;
}

.cta__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    padding-left: 5vw;
}

.btn-4 {
    text-transform: uppercase;
    background-color: #3D5675;
    padding: 11px;
    width: 180px;
    height: 42px;
    border-radius: 44vw;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 10px;
}

@media screen and (max-width: 1200px) {
    img {
        max-width: 100%;
    }

    .benefits,
    header {
        display: none;
    }

    header {
        display: none;
    }

    

}